body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#newTaskText {
  width: 300px;
}

.pointer {
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
}

.pointer:hover {
  background-color: hsl(0, 0%, 80%);
}

.simple-input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(221, 221, 221, 0.39);
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}

.form-check-label {
  padding-left: 10px;
}

.priority-icon {
  padding-right: 5px;
}

.sort-select{
  width: fit-content;
}

#label-container {
  display: flex;
}

.form-check-label {
  white-space: nowrap;
}



/* ------------------------------------- */

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.form-check-input {
  display: none;
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: #4285f4;
}

.form-check-input:checked + .check svg {
  stroke: #4285f4;
}

.form-check-input:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.form-check-input:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
